<%= form_with(model: freeagent_api_authentication, local: true) do |form| %>
  <% if freeagent_api_authentication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freeagent_api_authentication.errors.count, "error") %> prohibited this freeagent_api_authentication from being saved:</h2>

      <ul>
      <% freeagent_api_authentication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
