<h1>Editing Freeagent Api Authentication</h1>

<%= render 'form', freeagent_api_authentication: @freeagent_api_authentication %>

<%= link_to 'Show', @freeagent_api_authentication %> |
<%= link_to 'Back', freeagent_api_authentications_path %>
