<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<h1>New Freeagent Api Authentication</h1>

<%= link_to "Hello", @url.to_s %>

<%= link_to 'Back', freeagent_api_authentications_path %>
