<h2>Your OAuth tokens are safe with us 👌.</h2>
<h3>Now take a look at some of the cool things you can do with the FreeAgent API.</h3>
<%= link_to "FreeAgent API requests", freeagent_api_requests_path, class: "btn" %>
