<h1>Editing Freeagent Api Request</h1>

<%= render 'form', freeagent_api_request: @freeagent_api_request %>

<%= link_to 'Show', @freeagent_api_request %> |
<%= link_to 'Back', freeagent_api_requests_path %>
