<h2>Here are the details of your <%= results_display_name(@response) %>:</h2>
  <table>
    <%= display_nested_results("", @response) %>
  </table>
<%= link_to "Make another request", freeagent_api_requests_path, class: "btn" %>
