/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(245, 246, 247);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  text-align: left;
  margin: auto
}

th {
  font-size: 1rem;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.btn {
  background-color: rgb(41, 122, 191);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 15%;
  margin: auto;
  font-size: 16px;
  margin-top: 2rem;
  border-radius: 25px;
  transition-duration: 0.4s;
  cursor: pointer
}

.btn:hover {
  background-color: rgb(124, 192, 74);
  color: white;
}

.btn:visited {
  color: white;
}

form input {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem
}

form label, p.show {
  font-size: 1rem
}

.check-box {
  width: 20px;
}

#logout-link {
  text-align: right;
}

.header {
  text-align: right;
}
